@(
"python-dotenv"
"google-generativeai"
"langchain-community"
"langchain-huggingface"
"langchain-text-splitters"
"langchain-embeddings"
"sentence-transformers"
"faiss-cpu"
"pypdf"
"streamlit"
) | Set-Content requirements.txt
